.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
    margin-bottom: 45px;
}

.hamburgerContainer {
    height: 25px;
    transition: all 0.5s;
    z-index: 100;
}

.mobileMenuContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.33%, rgba(0, 0, 0, 0.599049) 99.79%);
    z-index: 5;
}

.mobileMenu {
    position: absolute;
    margin: 100px 24px 0px 24px;
    background-color: #FFF;
    color: var(--primaryBlue);
    border-radius: 4px;
    z-index: 10;
    padding: 40px 20px 16px 20px;
    width: 85%;
    height: 290px;
    margin-left: 28px;
    /* height: 100vh; */
    /* margin-top: 380px; */
    /* border: 1px solid black */
}

.mobileMenu li {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.3px;
    text-align: center;
    padding-bottom: 24px;
}

.desktopMenuContainer {
    display: none;
}

.menuButton {
    display: none;
    transition: all 0.5s;
}

@media only screen and (min-width: 992px) {
    .menuButton:hover {
        background-color: #F98F75;
        cursor: pointer;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 1440px;
        margin: 0 auto 100px auto;
    }

    .hamburgerContainer {
        display: none;
    }

    .mobileMenuContainer {
        display: none;
    }

    .desktopMenuContainer {
        display: block;
    }

    .desktopMenuContainer ul {
        display: grid;
        grid-template: 1fr / repeat(5, 1fr);
        gap: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
    }

    .menuButton {
        display: block;
        font-size: 13px;
        font-weight: 700;
        line-height: 19px;
        color: var(--lightGray);
        padding: 12px 32px;
        border-radius: 22px;
        background-color: #F3603C;
        border: none;
        box-shadow: 0px 15px 15px -10px #ff9f8e;
    }
} 