.container {
    padding: 0px 20px 40px 20px;
}

.container h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 45px;
    letter-spacing: -0.66px;
    text-align: center;
    color: var(--primaryBlue);
    margin-bottom: 70px;
}

.testimonial {
    background-color: var(--lightGray);
    padding: 60px 20px 40px 20px;
    position: relative;
}

@media only screen and (min-width: 992px) {
    .testimonial {
        height: 220px;
        padding: 60px 20px 40px 20px;;
    }
}

.imageContainer {
    position: absolute;
    top: -15%;
    left: 40%;
    /* overflow: visible; */
    /* overflow-y: visible; */
}

.testimonial h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    text-align: center;
}

.testimonial p {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: var(--primaryBlue);
    opacity: 0.5;
}

.embla {
    overflow: hidden;
    cursor: pointer;
    padding-top: 40px;
}

.embla__container {
    display: flex;
}

.embla__slide {
    position: relative;
    flex: 0 0 100%;
}

@media only screen and (min-width: 992px) {

    .embla {
        max-width: 1440px;
        margin: 0 auto;
    }

    .embla__slide {
        flex: 0 0 35%;
        /* margin-right: 30px; */
        margin-right: 30px;
    }
}

.testimonialsButton {
    display: none;
    transition: all 0.5s;
}

@media only screen and (min-width: 992px) {
    .testimonialsButton {
        display: block;
        font-size: 13px;
        font-weight: 700;
        line-height: 19px;
        color: var(--lightGray);
        padding: 12px 32px;
        border-radius: 22px;
        background-color: #F3603C;
        border: none;
        box-shadow: 0px 15px 15px -10px #ff9f8e;
        margin: 60px auto 100px auto;
    }

    .testimonialsButton:hover {
        background-color: #F98F75;
        cursor: pointer;
    }
}