.container {
    padding: 50px 24px 30px 24px;
    background-color: var(--darkBlue);
    color: #FFF;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form input {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.1px;
    color: #8D8D8D;
    width: 240px;
    padding: 12px 24px;
    border-radius: 22px;
}

.form button {
    background-color: var(--primaryRed);
    border: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    color: #FFF;
    padding: 15px 25px;
    border-radius: 22px;
}

.navigationContainer {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.23px;
    margin: 50px 50px 50px 40px;
    display: grid;
    grid-template: auto /  100px 100px;
    gap: 60px;
}

.navigationContainer p {
    margin-bottom: 10px;
}

.socialsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoContainer {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    text-align: center;
    font-size: 13px;
    line-height: 19px;
    color: #FFF;
    opacity: 0.5;
}