/* 
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

:root {
  --primaryRed: hsl(12, 88%, 59%);
  --primaryBlue: hsl(228, 39%, 23%);
  --grayishBlue: hsl(227, 12%, 61%);
  --darkBlue: hsl(233, 12%, 13%);
  --paleRed: hsl(13, 100%, 96%);
  --lightGray: hsl(0, 0%, 98%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: white;
  color: var(--primaryBlue);
  font-size: 16px;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
